@{
    ViewData["Title"] = "HelloQuery";
}

<br />

<div class="text-center">
    <h1 class="display-1">HelloQuery</h1>
</div>

<br />

<div class="text-center">
    <h3>sql学習サイト</h3>
</div>

<br />

<div class="text-center">
    <button class="btn-gradient-flat" ><a href="https://localhost:7208/Users/Create">新規作成</a></button>
    <button class="btn-gradient-flat"><a href="https://localhost:7208/Account/Login">ログイン</a></button>
</div>

<!--背景装飾-->

<style>
    .display-1,h3{
        color: white;
        font-family: 'Times New Roman';
    }

    .btn-gradient-flat{
		display: flex;
		flex-direction: row;
    }


    .btn-gradient-flat {
        display: inline-block;
        padding: 0.8em 1em;
        text-decoration: none;
        color: #FFF;
        background-image: linear-gradient(#222 0%, #f5f5f5 100%);
        transition: .4s;
    }

    .btn-gradient-flat:hover {
        background-image: linear-gradient(#222 0%, #f5f5f5 70%);
    }

</style>