@{
    ViewData["Title"] = "HelloQuery";
}

<br />

<div class="text-center">
    <h1 class="display-1">HelloQuery</h1>
</div>

<br />

<div class="text-center">
    <h3>SQL学習サイト</h3>
</div>

<br />
<br />

<div class="text-center">
	<a href="https://localhost:7208/Users/Create" class="btn btn--cubic">新規作成</a>
</div>

<br />
<br />

<div class="text-center">
	<a href="https://localhost:7208/Account/Login" class="btn btn--cubic">ログイン</a>
</div>

<!--背景装飾-->

<style>
    h3{
        line-height:3.0;
    }

    .btn{
        width: 16rem;
        height: 2.7rem;
        font-size:20px;
    }
</style>