@{
    ViewData["Title"] = "HelloQuery";
}

<br />
<div class="text-center">
    <h1 class="display-1">HelloQuery</h1>
</div>
<br />
<div class="text-center">
    <h4>sql学習サイト</h4>
</div>
<br />

<table>
    <tr>
        <td><button>新規作成</button></td>
        <td><button>ログイン</button></td>
    </tr>
</table>
<div class="btn-border-gradient-wrap btn-border-gradient-wrap--silver">
    <a href="" class="btn btn-border-gradient"><span class="btn-text-gradient--silver">新規作成</span></a>
</div>

<style>
    html {
        background-color: #1f1a4d;
    }

    h1 {
        color: white;
        font-family: 'Times New Roman';
    }

    h4 {
        color: white;
        font-family: 'Times New Roman';
        font-size: 4;
    }

    table {
        height: 250px;
        display: bottom;
        margin: auto;
    }

</style>