@{
    ViewData["Title"] = "HelloQuery";
}

<br />

<div class="text-center">
    <h1 class="display-1">HelloQuery</h1>
</div>

<br />

<div class="text-center">
    <h3>SQL学習サイト</h3>
</div>

<br />
<br />
<!--サイトの説明-->
<div class="text-center">
    <div class="setumei">
        <h2>「Hello Query」って何？</h2>

        <br />

        <h4>
            <font color="#ffff66">Hello Queryとは,SQL初学者が学習を効率的に行えるように<br />レベルごとの問題を体系的に学ぶことができるサイトです。</font>
            <p class="p2">様々な問題に繰り返し挑戦して基本的なクエリ文をスラスラ書けるように手助けをします。</p>

            <br />


        </h4>

        <h4></h4>
    </div>
</div>

<div class="text-center">
    <a href=@Url.Action("Create","Users") class="btn btn--cubic">新規作成</a>
</div>

<br />

<div class="text-center">
    <a href=@Url.Action("Login","Account") class="btn btn--cubic">ログイン</a>
</div>

<br />
<br />
<br />
<br />


<style>
    h2 {
        line-height: 2.5;
    }

    h3 {
        line-height: 3.0;
    }

    h2{
        color:darkblue;
        border: solid 3px #364e96; 
        background:#f5f5f5;
        padding: 0.3em; 
        border-radius: 0.3em;
    }

    h4{
        line-height: 2.5;
        font-size:26px;
    }

    img{
        width:100px;
        height:100px;

    }

    .btn {
        width: 16rem;
        height: 2.7rem;
        font-size: 20px;
    }
</style>