@model HelloQuery.Models.Lesson

<div>
    <h2>@Model.Title</h2>

    <div class="description-block">
        <p>@Model.Description</p>
    </div>

    <div class="description-block">
        <p>@Model.Question</p>
    </div>

    <p>@Model.Hint</p>
</div>

