@model HelloQuery.Models.LessonViewModel
@{
    Layout = "_LoggedInLayout";
    ViewData["Title"] = "Answer";
}

<!--回答＆解説の部分ビュー-->
<div class="container">
    <div id="partial-answerview-container">
        @await Html.PartialAsync("_AnswerPartial")
    </div>

<!--問題一覧バー-->
    <aside class="side">
        <div class="side-in">
            <h4>問題一覧</h4>

            <ul id="lesson-title" style="list-style-type: none;">
                @foreach (var item in Model.AllLessons)
                {
                    <li>
                        <a asp-controller="Lessons" asp-action="Index" asp-route-id="@item.LessonId" style="cursor: pointer;">@Html.DisplayFor(modelItem => item.Title)</a>
                    </li>
                }
            </ul>
        </div>
    </aside>
</div>

<!--JSファイルの呼び出し-->
@section Scripts {
    <script src="~/js/answerpartialview.js"></script>
}

<style>
    .container {
        position: relative;
    }
    .side {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
    }

    .side-in {
        background-color: #8997b8;
        position: sticky;
        top: 0;
        height: 100vh;
    }
</style>


