@model HelloQuery.Models.LessonViewModel
@{
    Layout = "_LoggedInLayout";
    ViewData["Title"] = "Answer";
}

<!--回答＆解説の部分ビュー-->
<body>
    <div class="container">
        <div class="k-k">
            <div id="partial-answerview-container">
                @await Html.PartialAsync("_AnswerPartial")
            </div>
        </div>

        <!--問題一覧バー-->
        <aside class="side">
            <div class="side-in"><br />
                <h3 class="text-center">≪問題一覧≫</h3>

                <ul id="lesson-title" style="list-style-type: none;">
                    @foreach (var item in Model.AllLessons)
                    {
                        <li>
                            <a asp-controller="Lessons" asp-action="Index" asp-route-id="@item.LessonId" style="cursor: pointer;">▸@Html.DisplayFor(modelItem => item.Title)</a>
                        </li>
                    }
                </ul>
            </div>
        </aside>
    </div>
</body>

<!--JSファイルの呼び出し-->
@section Scripts {
    <script src="~/js/answerpartialview.js"></script>
}

<style>
    .container {
        position: relative;
    }

    .k-k {
        width: 80%;
    }
    .side {
        position: absolute;
        top: -18vw;
        right: -7.9vw;
        height: 100%;
    }

    .side-in {
        background-color: #000033;
        color: #fafad2;
        position: absolute;
		top: 17vw;
        right: 1px;
        width: 23vw;
    }

    li {
        font-size: 22px;
        line-height: 3.0;
    }
</style>


