@model HelloQuery.Models.LessonViewModel
@{
    Layout = "_LoggedInLayout";
    ViewData["Title"] = "Answer";
}

<!--回答＆解説の部分ビュー-->
<body>
    <div class="container">
        <div class="k-k">
            <div id="partial-answerview-container">
                @await Html.PartialAsync("_AnswerPartial")
            </div>
        </div>

        <!--ポップアップメッセージ内容-->
        @if (TempData["AnswerMessage"] != null)
        {
            <div class="popup-message">
                @TempData["AnswerMessage"]
            </div>
        }

        <!--問題一覧バー-->
        <aside class="side">
            <div class="side-in">
                <br />
                <h3 class="text-center">≪問題一覧≫</h3>

                <ul id="lesson-title" style="list-style-type: none;">
                    @foreach (var item in Model.AllLessons)
                    {
                        <li>
                            <a asp-controller="Lessons" asp-action="Index" asp-route-id="@item.LessonId" style="cursor: pointer;">▸@Html.DisplayFor(modelItem => item.Title)</a>
                        </li>
                    }
                </ul>
            </div>
        </aside>
    </div>
</body>

<!--JSファイルの呼び出し-->
@section Scripts {
    <script src="~/js/answerpartialview.js"></script>
}

<style>
    .container {
        width: 100vw;
        display: flex;
    }

    .k-k {
        flex: 0 0 75%;
    }

    .side {
        flex: 0 0 25%;
        position: relative;
        top: 0;
        bottom: 0;
        right: 0;
        overflow-y: auto; /* 必要に応じてスクロールバーを表示 */
    }

    .side-in {
        background-color: #000033;
        color: #fafad2;
        top: calc(100% - 1.2vw);
        width: 100%;
    }

    /*ポップアップメッセージ*/
    .popup-message {
        animation: fadeOut 6s forwards;
        position: fixed;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 30px;
        background-color: white;
        color: #000033;
        border: 1px solid white;
        border-radius: .25rem;
        font-size: 2em;
    }

    /*フェードアウトの設定*/
    @@keyframes fadeOut {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }
</style>


