@model IEnumerable<HelloQuery.Models.Lesson>

@{
    Layout = "_LoggedInLayout";
    ViewData["Title"] = "Lesson";
}

<!--問題一覧のトグルバー-->
<div id="toggle-bar" style="position: fixed; top: 0; right: 0; z-index: 100;">
    <button id="toggle-button">問題一覧▼</button>

    <ul id="lesson-title" style="list-style-type: none;">
        @foreach (var item in Model)
        {
            <li class="lesson" data-id="@item.LessonId" style="cursor: pointer;">@Html.DisplayFor(modelItem => item.Title)</li>
        }
    </ul>

</div>

<!--部分ビュー-->

<div id="partialview-section">
    @await Html.PartialAsync("_LessonsPartial", (Lesson)ViewBag.SelectedLesson)
</div>


<!--回答入力欄-->

<!-- 回答するボタンのフォーム -->
<form method="post" asp-controller="Lessons" asp-action="Answer">
    <input type="text" name="answer" placeholder="回答を入力してください">
    <input type="hidden" id="selected-lesson-id" name="lessonId" value="@ViewBag.SelectedLessonId" />
    <input type="submit" value="回答する">
</form>

<!-- あきらめるボタンのフォーム -->
<form method="post" asp-controller="Lessons" asp-action="GiveUp">
    <input type="hidden" id="selected-lesson-id" name="lessonId" value="@ViewBag.SelectedLessonId" />
    <input type="submit" value="あきらめる">
</form>

 

<!--JSファイルの呼び出し-->
@section Scripts {
    <script src="~/js/design.js"></script>
    <script src="~/js/lessonpartialview.js"></script>
}
