@model HelloQuery.Models.LessonViewModel

@{
    Layout = "_LoggedInLayout";
    ViewData["Title"] = "Lesson";
}
<body>
    <div class="container">
        <div class="kaitou">
            <!--部分ビュー-->
            <div id="partialview-section">
                <p> @await Html.PartialAsync("_LessonsPartial")</p>
			</div>
            
            <br />
            <br />

        </div>

        <!--ポップアップメッセージ内容-->
        @if (TempData["AnswerMessage"] != null)
        {
            <div class="popup-message">
                @TempData["AnswerMessage"]
            </div>
        }
 
        <!--問題一覧-->
        <aside class="side">
            <div class="side-in"><br />
				<h3 class="text-center">≪問題一覧≫</h3>

                <ul id="lesson-title" style="list-style-type: none;">
                    @foreach (var item in Model.AllLessons)
                    {
                        <li>
                            <a asp-controller="Lessons" asp-action="Index" asp-route-id="@item.LessonId" style="cursor: pointer;">▸@Html.DisplayFor(modelItem => item.Title)</a>
                        </li>
                    }
                </ul>
            </div>
        </aside>
    </div>
</body>

<!--JSファイルの呼び出し-->
@section Scripts {
    <script src="~/js/lessonpartialview.js"></script>
}

<style>
    .container {
        position: relative; 
    }

    .kaitou {
        width: 80%;
        float: left;
    }

    .side {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
    }

    .side-in {
		background-color: #000033;
        color: #fafad2;
        position: absolute;
        top: calc(100% - 1.2vw);
        left: calc(100% - 15vw);
        width: 23vw;
    }

    .lesson{
        font-size:20px;
        line-height:3.0;
    }

    li {
        font-size: 22px;
        line-height: 3.0;
    }

    /*ポップアップメッセージ*/
    .popup-message {
        animation: fadeOut 6s forwards;
        position: fixed;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        background-color: #fafad2;
        color: #000033;
        border: 1px solid #fafad2;
        border-radius: .25rem;
        font-size: 2em;
    }

    /*フェードアウトの設定*/
    @@keyframes fadeOut {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }
</style>