@model HelloQuery.Models.LessonViewModel

@{
    Layout = "_LoggedInLayout";
    ViewData["Title"] = "Lesson";
}
<body>
    <div class="content">
        <div class="kaitou">
            <!--部分ビュー-->
            <div id="partialview-section">
                <p> @await Html.PartialAsync("_LessonsPartial")</p>
            </div>

            <br />

            <!--回答入力欄-->
            <!-- 回答するボタンのフォーム -->
            <table>
                <tr>
                    <td colspan="2">
                        <form method="post" asp-controller="Lessons" asp-action="Answer">
                            <input type="text" name="answer" placeholder="回答を入力してください">
                            <input type="hidden" name="lessonId" value="@Model.SelectedLesson.LessonId" />
                        </form>
                    </td>
                </tr>

                <tr>
                    <td>
                        <form method="post" asp-controller="Lessons" asp-action="Answer">
                        <input type="submit" value="回答する">
                        </form>
                    </td>
                    <td>
                        <!-- あきらめるボタンのフォーム -->
                        <form method="post" asp-controller="Lessons" asp-action="GiveUp">
                            <input type="hidden" id="selected-lesson-id" name="lessonId" value="@Model.SelectedLesson.LessonId" />
                            <input type="submit" value="あきらめる">
                        </form>
                    </td>
                </tr>
            </table>
        </div>

        <!--問題一覧-->
        <aside class="side">
            <div class="side-in">
                <h4>問題一覧</h4>

                <ul id="lesson-title" style="list-style-type: none;">
                    @foreach (var item in Model.AllLessons)
                    {
                        <li class="lesson" data-id="@item.LessonId" style="cursor: pointer;">@Html.DisplayFor(modelItem => item.Title)</li>
                    }
                </ul>
            </div>
        </aside>
    </div>

</body>

<!--JSファイルの呼び出し-->
@section Scripts {
    <script src="~/js/lessonpartialview.js"></script>
}

<style>
    .content {
        width: 100%;
        height: 100%;
        display: flex;
    }

    /*サイドバー(問題一覧)*/
    .side {
        width: 20%;
        background-color: #8997b8;
        margin-left: 120px;
    }

    .side-in {
        background-color: #8997b8;
        position: sticky;
        top: 0;
    }

    .kaitou {
        width: 80%;
    }

    input[type="text"] {
        width: 70%;
        box-sizing: border-box;
        padding: 10px;
</style>