@model HelloQuery.Models.LessonViewModel

@{
    Layout = "_LoggedInLayout";
    ViewData["Title"] = "Lesson";
}
<body>
    <div class="content">
        <div class="kaitou">
            <!--部分ビュー-->
            <div id="partialview-section">
                <p> @await Html.PartialAsync("_LessonsPartial")</p>
            </div>
        </div>

        <!--問題一覧-->
        <aside class="side">
            <div class="side-in">
                <h4>問題一覧</h4>

                <ul id="lesson-title" style="list-style-type: none;">
                    @foreach (var item in Model.AllLessons)
                    {
                        <li class="lesson" data-id="@item.LessonId" style="cursor: pointer;">@Html.DisplayFor(modelItem => item.Title)</li>
                    }
                </ul>
            </div>
        </aside>
    </div>
</body>

<!--JSファイルの呼び出し-->
@section Scripts {
    <script src="~/js/lessonpartialview.js"></script>
}

<style>
    .container {
        position: relative; 
    }

    .kaitou {
        width: 80%;
        float: left;
    }

    .side {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
    }

    .side-in {
        background-color: #8997b8;
        position: sticky;
        top: 0;
        height: 100vh;
    }
</style>