@model IEnumerable<HelloQuery.Models.UserLesson>
@{
    Layout = "_LoggedInLayout";
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1>苦手問題一覧</h1>
</div>

<hr />

<!--苦手リストがない場合-->
@if (Model.Count() <= 0)
{
    <h4>苦手リストはありません。この調子で頑張りましょう！</h4>
}

<!--苦手リストがある場合の苦手一覧リスト-->
<ul list-style:none>
@foreach (var item in Model) 
{    
    <li>
        <a asp-action="Index" asp-controller="Lesson" asp-route-id="@item.LessonId">@item.Lesson.Title</a>
        <a asp-action="Details" asp-route-id="@item.LessonId" class="btn btn-primary">詳細</a> | 
        <a asp-action="Delete" asp-route-id="@item.UserLessonId" class="btn btn-primary">一覧から削除</a>
    </li>
}
</ul>

<style>
    h4{
        opacity: 0.4;
    }
</style>