@model IEnumerable<HelloQuery.Models.UserLesson>
@{
    Layout = "_LoggedInLayout";
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1>苦手問題一覧</h1>
</div>

<hr />

<!--苦手リストがない場合-->
@if (Model.Count() <= 0)
{
    <h4>苦手リストはありません。この調子で頑張りましょう！</h4>
}
else
{
    <!--苦手リストがある場合の苦手一覧リスト-->
    @foreach (var item in Model)
    {
        <li class="items">
            <table>
                <tr>
                    <td><a asp-action="Index" asp-controller="Lessons" asp-route-id="@item.LessonId">@item.Lesson.Title</a></td>
                    <td class="align-right">
                        <a asp-action="Details" asp-route-id="@item.LessonId" class="button btn-outline-primary">詳細</a>
                        <form method="post" asp-action="Delete" asp-controller="UserLessons">
                            <button type="submit" class="button btn-outline-danger" name="id" value=@item.UserLessonId>一覧から削除</button>
                        </form>
                    </td>
                </tr>
            </table>
        </li>
        <hr width="100%">
    }
}
    <style>
    h4 {
        opacity: 0.4;
    }

    .items {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    td{
        font-size:29px;
        line-height:2.5;
    }

    .btn-outline-primary {
        width:5rem;
        height:3rem;
        font-size: 20px;
        background-color:red;
        color:white;
        text-align:center;
        position:absolute;
        right:20%;
    }

    .btn-outline-primary:hover{
        background-color:white;
        color:red;
    }

    .btn-outline-danger {
        width: 9rem;
        height: 3rem;
        font-size: 19px;
        background-color: red;
        color: white;
        text-align: center;
        position: absolute;
        right:9%;

    }

    .btn-outline-danger:hover{
         background-color: white;
         color: red;
    }
</style>
