@model HelloQuery.Models.User

@{
    Layout = "_LoggedInLayout";
    ViewData["Title"] = "Edit";
}

<h1 class="text-center">アカウントの編集</h1>

<hr />
<div class="row">
    <div class ="text-center">
        <form asp-action="Edit">
            <div class="form-group">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
				<p><input asp-for="UserName" class="text-center" /></p>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
				<p><input asp-for="Email" class="text-center" /></p>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
				<p><input asp-for="Password" class="text-center" /></p>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <p><input asp-for="ConfirmPassword" class="text-center" /></p>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <br />

            <div class="text-center">
                <input type="submit" value="上書き保存" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<br />

<div class="text-center">
    <a asp-action="Details" class="btn btn-primary">戻る</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    input {
        width: 370px;
        height: 35px;
        font-size:23px;
    }

    .row,h1 {
        line-height: 2.5;
    }

    label{
        font-size:26px;
    }

    .btn {
        font-size: 20px;
    }
</style>