<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HelloQuery</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HelloQuery.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
				<a class="navbar-brand" asp-controller="Home" asp-action="Index"><b>HelloQuery</b></a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
							<a class="nav-link text-dark" asp-controller="Users" asp-action="Create"><b>新規作成</b></a>
                        </li>
                        <li class="nav-item">
							<a class="nav-link text-dark" asp-controller="Account" asp-action="Login"><b>ログイン</b></a>
						</li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - HelloQuery - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>

<style>
    body {
        background-color: #1f1a4d;
        color: white;
        font-family: 'Times New Roman',serif;
    }

    .form-group{
        font-size:20px;
    }

    /*ヘッダー*/
    .navbar-brand{
        font-size:24px;
    }

    .nav-item {
		padding: 5px 0 0 20px;
        font-size:20px;
    }

    /*リンクの下線を消す*/
    a {
        color:white;
        text-decoration: none;
    }

    /*ボタンのデザイン*/
    .btn {

        width: 13rem;
        height: 2.5rem;
        font-size: 18px;
        color: white;
        background-color: #AA0000;
    }

    .btn:hover {
        color: #AA0000;
        background: white;
    }

    input[type="password"], [type="Email"], [type="UserName"] {
        width: 370px;
        height: 30px;
    }

    /*フッター*/
    footer{
        background-color:black;
        width:100%;
        height:60px;
        position:absolute;
        bottom:0;
    }

/*背景*/
.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #555555 50%, #1f1a4d 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

@@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
</style>
